<!DOCTYPE html>
<html>
  <head>
    <title>ajaxExample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/pulldata.js"></script>
  </head>
  <body>
    <h1>dynamically pull</h1>
    <h2 id='demo'></h2>
    <button type="button" onclick="pullData()">姆咪</button>
  </body>
</html>
