<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<title>物流管理系統貨車端</title>

	<link rel="stylesheet" href="css/truck/style.css">
</head>
<body>

	<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API -->

	<p id = "status"></p>
	<a id = "name" target="_blank"></a><br/>
	<a id = "map-link" target="_blank"></a><br/>
	<button id = "find-me">Show my location</button><br/>
	
	<script  src="/javascripts/truck_js/index.js"></script>
	<script src="/javascripts/truck_js/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/truck_js/csmapi.js"></script>
    <script src="/javascripts/truck_js/dan.js"></script>
    <script src="/javascripts/truck_js/dai.js"></script>
    <script src="/javascripts/truck_js/ida.js"></script>

</body>

</html>
